@import '@styles/common/theme.module.scss';

.root {
    font-size: 12px;
}

.notes,
.trash {
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
}

.note span {
    display: inline-block;
    height: 20px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note.disabled span {
    color: #ccc;
}

.title {
    font-weight: bold;
}
.addBtn {
    cursor: pointer;
    color: green;
    padding: 0 10px;
}

.delBtn,
.note.disabled .delBtn,
.updateBtn {
    cursor: pointer;
    color: red;
    padding: 0 3px;
}

span.updateBtn {
    color: green;
    width: 50px;
}

input {
    width: 160px;
    border: 1px solid #666;
    margin-bottom: 30px;
}

input::placeholder {
    color: #bbb;
}

.disabled {
    opacity: 1;
}

.issueHere {
    /* This is temp style. Without it h1 inherits font-size from parent div, but shouldn't */
    font-weight: 700;
    font-size: 18px; 
}
