@import '../../styles/common/variables.module.scss';
.root {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    flex-grow: 1;
    background-color: $sand2;
}
