@import '../../styles/common/variables.module.scss';
.root {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}
.description-textarea {
    font: $noteText;
    margin-bottom: 40px;
    flex-grow: 1;
}
.title-input {
    font: $noteTitle;
    margin-bottom: 16px;
}
.link {
    display: flex;
    align-items: center;
    gap: 8px;
}
.trash-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
