@import '../../styles/common/variables.module.scss';
.root {
    height: $size32;
    padding-right: $size12;
    padding-left: $size12;
    border-radius: $size4;
    cursor: pointer;
    font: $navigation;
    display: flex;
    align-items: center;
}

.primary {
    color: $sand1;
    background-color: $grass4;
    &:hover {
        background-color: #18794e;
    }
    background-image: linear-gradient(#4acc63, #4acc63);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-image: linear-gradient(#5fcc74, #5fcc74);
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-image: none;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}
