@import '../../styles/common/variables.module.scss';

.root {
    padding: $size24 $size32;
}
.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: $size16;
    height: 600px;
}
.searchInput {
    margin: 0px auto $size2;
}
