@import './variables.css';

.sectionTitle {
  font: var(--sectionTitle);
}

.cardTitle {
  font: var(--cardTitle);
}

.cardText {
  font: var(--cardText);
}

.noteTitle {
  font: var(--noteTitle);
}

.noteText {
  font: var(--noteText);
}
.navigation {
  font: var(--h2Bold);
}

.sand1 {
  background: var(--sand1);
}

.sand2 {
  background: var(--sand2);
}

.sand3 {
  background: var(--sand3);
}

.grass1 {
  background: var(--grass1);
}

.grass2 {
  background: var(--grass2);
}

.grass3 {
  background: var(--grass3);
}

.grass4 {
  background: var(--grass4);
}

.grass5 {
  background: var(--grass5);
}

.grassdark {
  background: var(--grassdark);
}

.shadow100 {
  box-shadow:
    0px 4px 12px -4px rgba(22, 34, 51, 0.12),
    0px 16px 32px 0px rgba(22, 34, 51, 0.16);
}

.shadow200 {
  box-shadow:
    0px 4px 8px -4px rgba(22, 34, 51, 0.08),
    0px 16px 24px 0px rgba(22, 34, 51, 0.08);
}

.shadow300 {
  box-shadow: 0 3px 16px -4px rgba(22, 34, 51, 0.2);
}
.padding2 {
  padding: var(--size2);
}

.padding4 {
  padding: var(--size4);
}
.padding6 {
  padding: var(--size6);
}

.padding8 {
  padding: var(--size8);
}

.padding12 {
  padding: var(--size12);
}
.padding16 {
  padding: var(--size16);
}

.padding24 {
  padding: var(--size24);
}
.padding32 {
  padding: var(--size32);
}
.padding40 {
  padding: var(--size40);
}

.margin2 {
  margin: var(--size2);
}

.margin4 {
  margin: var(--size4);
}
.margin6 {
  margin: var(--size6);
}

.margin8 {
  margin: var(--size8);
}

.margin12 {
  margin: var(--size12);
}
.margin16 {
  margin: var(--size16);
}

.margin24 {
  margin: var(--size24);
}
.margin32 {
  margin: var(--size32);
}
.margin40 {
  margin: var(--size40);
}
