@import '../../styles/common/variables.module.scss';

.content {
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    width: calc(100% + 20px);
}

.menuItem {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: $grass2;
    }
}

.delete {
    color: $danger11;

    &:hover {
        background-color: $danger4;
    }
}

.separator {
    height: 1px;
    background-color: lightgray;
    margin: 8px;
}

.trigger {
    &:hover {
        cursor: pointer;
    }
}