@import '../../styles/common/variables.module.scss';

.root {
    padding-top: $size24;
    display: flex;
    flex-direction: column;
    gap: $size8;
}
.searchInput {
    align-self: center;
}
.notes {
    padding-right: $size24;
    padding-left: $size24;
}
